.dub
docs.json
__dummy.html
docs/
scopl.so
scopl.dylib
scopl.dll
scopl.a
scopl.lib
scopl-test-*
*.exe
*.o
*.obj
*.lst

.dub/
dub.selections.json
./copper
./copperlang
./copperlang-test-library
copperlang
*.a