.dub
docs.json
__dummy.html
docs/
scopl.so
scopl.dylib
scopl.dll
scopl.a
scopl.lib
scopl-test-*
*.exe
*.dll
*.lib
*.o
*.obj
*.lst

.dub/
dub.selections.json
./copper
./copperlang
./copperlang-test-library
copperlang
*.a
copper
./LLVM_LICENSE.md
LLVM_LICENSE.md

# Ensure that LLVM libraries don't get uploaded by accident
# Especially for Windows and macOS builds
libLLVM.*
libLTO.*
LLVM.dll
LTO.dll

# Also this macOS file is irellevant
.DS_Store
